// leader-board

.leaderboard-box {
	// margin: 0.5rem 1.5rem;
	@include respond-to($mobile) {
		.leaderboard_header{
			display: none;
		}
		.leaderboard_body{
			.body_tr{
				display: block !important;
				.tr_cell{
					justify-content: left !important;
					flex-direction: unset !important;
					display: flex !important;
					text-align: left !important;
					padding: 0.5rem !important;
					margin-top: 1rem !important;
					.username_td_inner{
						img{
							width: 40px !important;
							height: 40px !important;
						}
					}
				}
				.tr_cell:before{
					content: attr(data-header);
					width: 40%;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
	}
	@include respond-to($mobile-only) {
		.leaderboard_header{
			display: none;
		}
		.leaderboard_body{
			.body_tr{
				display: block !important;
				.tr_cell{
					justify-content: left !important;
					flex-direction: unset !important;
					display: flex !important;
					text-align: left !important;
					padding: 0.5rem !important;
					margin-top: 1rem !important;
					.username_td_inner{
						img{
							width: 40px !important;
							height: 40px !important;
						}
					}
				}
				.tr_cell:before{
					content: attr(data-header);
					width: 40%;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
	}
	.leaderboard_header{
		padding: 0.5rem 2rem;
		background: #f9f9f9;
		.header_tr{
			box-sizing: border-box;
			vertical-align: middle;
			justify-content: center;
			padding: 0.5rem 0;
			display: flex;
			table-layout: fixed;
			width: 100%;
			text-transform: uppercase;
			font-size: 0.875em;
			color: #838383;
			.header-cell{
				display: block;
				flex: 1;
				flex-direction: column;
				position: relative;
				padding: 0.5rem 0.2rem;;
				text-align: center;
			}
			.leftarrow_heading{
				flex: 0.3;
			}
			.countNumber_heading{
				flex: 0.3;
			}
			.username_heading{
				flex: 2;
			}
			.design_heading{
				flex: 0.7;
			}
			.usability_heading{
				flex: 0.7;
			}
			.trofy_heading{
				flex: 0.3;
			}
		}
	}
	.leaderboard_body{
		padding: 0.5rem 2rem;
		background: #fcfcfc;
		.body_tr:hover{
			//background: #fcfcfc;
		}
		.body_tr{
			box-sizing: border-box;
			display: flex;
			table-layout: fixed;
			width: 100%;
			padding: 0;
			background: $white;
			margin-top: 0.5rem;
			//cursor: pointer;
			.tr_cell{
				vertical-align: middle;
				justify-content: center;
				display: flex;
				flex: 1;
				flex-direction: column;
				position: relative;
				padding: 0.5rem 0.2rem;
				text-align: center;
			}
			.leftarrow_td{
				flex: 0.3;
				img{
					width: 12px;
					margin-top: 5px;
				}
			}
			.countNumber_td{
				flex: 0.3;
				text-align: left;
			}
			.username_td{
				flex: 2;
				.username_td_inner{
					// display: table;
					.img{
						width: 60px;
						height: 60px;
						border-radius: 100px;
						margin-right: -1.7rem;
					}
					img{
						width: 50px;
						height: 50px;
						border-radius: 100px;
						float: left;
					}
					.name{
						// vertical-align: middle;
						// display: table-cell;
						// text-align: left;
						padding: 1rem 1rem 1rem 4rem;
						text-align: left;
					}
				}
			}
			.design_td{
				flex: 0.7;
			}
			.usability_td{
				flex: 0.7;
			}
			.trofy_td{
				flex: 0.3;
				text-align: left;
				img{
					width: 25px;
					margin-top: 3px;
				}
			}
		}
		
	}
}

// .constent_agreement{
// 	padding: 20px 30px;
//     font-size: 16px;
//     background: #fff;
// 	clear: both;
// 	overflow: hidden;
// 	margin-top: 1rem;
// 	h2{
// 		text-transform: uppercase;
// 		font-size: 15px;
// 		letter-spacing: 2px;
// 		color: #838383;
// 		line-height: 1.75;
// 		margin-top: 20px;
// 		margin-bottom: 20px;
// 	}
// 	p {
// 		margin: 0 0 10px;
// 		line-height: 1.42857;
// 	}
// 	hr {
// 		border-bottom: 1px solid #f4f4f4;
// 		margin-top: 0;
// 		margin-bottom: 16px;
// 		margin-left: -50px;
// 		margin-right: -50px;
// 	}
// 	ul>li {
// 		margin-bottom: 10px;
// 	}
// 	.footer-btn {
// 		margin-top: 50px;
// 		margin-bottom: 50px;
// 		text-align: center;
// 		.btnagree{
// 			background: #7eb237!important;
// 			text-transform: uppercase;
// 			color: #fff!important;
// 			border-color: #7eb237!important;
// 			border-radius: 5px;
// 			padding-left: 20px;
// 			padding-right: 20px;
// 		}
// 		.btndecline {
// 			text-transform: uppercase;
// 			color: #fff;
// 			background-color: #333;
// 			border-color: #333;
// 			border-radius: 5px;
// 			padding-left: 20px;
// 			padding-right: 20px;
// 		}
// 	}
// }
// .judge_agreement{
// 	padding: 20px 30px;
//     font-size: 16px;
//     background: #fff;
// 	clear: both;
// 	overflow: hidden;
// 	margin-top: 1rem;
// 	h2{
// 		text-transform: uppercase;
// 		font-size: 15px;
// 		letter-spacing: 2px;
// 		color: #838383;
// 		line-height: 1.75;
// 		margin-top: 20px;
// 		margin-bottom: 20px;
// 	}
// 	p {
// 		margin: 0 0 10px;
// 		line-height: 1.42857;
// 	}
// 	hr {
// 		border-bottom: 1px solid #f4f4f4;
// 		margin-top: 0;
// 		margin-bottom: 16px;
// 		margin-left: -50px;
// 		margin-right: -50px;
// 	}
// 	ul>li {
// 		margin-bottom: 10px;
// 	}
// 	.footer-btn {
// 		margin-top: 50px;
// 		margin-bottom: 50px;
// 		text-align: center;
// 		.btnagree{
// 			background: #7eb237!important;
// 			text-transform: uppercase;
// 			color: #fff!important;
// 			border-color: #7eb237!important;
// 			border-radius: 5px;
// 			padding-left: 20px;
// 			padding-right: 20px;
// 		}
// 		.btndecline {
// 			text-transform: uppercase;
// 			color: #fff;
// 			background-color: #333;
// 			border-color: #333;
// 			border-radius: 5px;
// 			padding-left: 20px;
// 			padding-right: 20px;
// 		}
// 	}
// }