// Question Styles

.question {
	@include clearfix();
	position: relative;
	padding: 20px 20px 20px 25px;
	border: 1px solid $border-grey;
	background-color: $white;
	margin-bottom: 12px;

	&:after {
		content: '';
		position: absolute;
		display: block;
		top: 50%;
		right: -10px;
		width: 20px;
		height: 20px;
		background: $white;
		border-right: 1px solid $border-grey;
		border-bottom: 1px solid $border-grey;
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);

		opacity: 0;
	}

	&.active:after {
		opacity: 1;
	}

	@include respond-to($desktop) {
		padding: 30px 30px 30px 50px;
	}

	.question__title {
		font-size: 1.25rem;
		line-height: 1.5;
	}

	.question__control {
		@include clearfix();
		height: 100%;
	}

	.question__score {

	}

	.question-control {
		text-align: center;
		padding: 0 15px;
	}

	.question-control.question-control--YES_NO {
		button {
			font-size: 14px;
			font-weight: 300;
			text-transform: uppercase;

			margin: 0 8px;
			width: 58px;
			height: 58px;
			border-radius: 50%;
			border: 2px solid transparent;
			background-color: transparent;
			outline: none;

			transition: all 0.3s;

			&:hover {
				cursor: pointer;
			}

			&.YES {
				color: $green;
				border-color: $green;

				&:hover, &.selected {
					color: $white;
					background-color: $green;
				}
			}

			&.NO {
				color: $orange;
				border-color: $orange;

				&:hover, &.selected {
					color: $white;
					background-color: $orange;
				}
			}
		}
	}

	.question-control.question-control--RATING {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include respond-to($mobile) {
			padding: 0;
		}

		.question-control__buttons {
			display: flex;
			align-items: center;

			@include respond-to($mobile) {
				margin-top: 30px;
			}
		}

		button {
			text-indent: -99999px;

			margin: 0 8px;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			border: 3px solid $grey;
			background-color: transparent;
			outline: none;

			transition: all 0.3s;

			&:hover, &.selected {
				cursor: pointer;
				background-color: $grey;
			}

			&:nth-child(1), &:nth-child(7) {
				width: 39px;
				height: 39px;
			}

			&:nth-child(2), &:nth-child(6) {
				width: 31px;
				height: 31px;
			}

			&:nth-child(3), &:nth-child(5) {
				width: 25px;
				height: 25px;
			}

			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				border-color: $orange;

				&:hover, &.selected {
					background-color: $orange;
				}
			}

			&:nth-child(5), &:nth-child(6), &:nth-child(7) {
				border-color: $green;

				&:hover, &.selected {
					background-color: $green;
				}
			}
		}

		.question-control__label {
			text-transform: uppercase;
			letter-spacing: 2px;

			@include respond-to($mobile) {
				position: absolute;
				top: 0;
			}

			&.question-control__label--low {
				color: $orange;

				@include respond-to($mobile) {
					left: 0;
				}
			}

			&.question-control__label--high {
				color: $green;

				@include respond-to($mobile) {
					right: 0;
				}
			}
		}
	}

	&.question--YES_NO {
		@include respond-to($desktop) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.question__title {
			margin-bottom: 2rem;

			@include respond-to($desktop) {
				flex: 1;
				margin-bottom: 0;
			}
		}
		.question-control {
			min-width: 180px;
		}
	}

	&.question--RATING {
		.question__title {
			margin-bottom: 20px;
		}
	}
}