.react-tagsinput {
	border: 2px solid #c4c4c4;
	border-radius: 4px;

	&:focus {
		border-color: #c4c4c4;
	}
}

.react-tagsinput-input {
	font-size: 0.875rem;
	width: 150px;
	color: $text-grey;
}

.react-tagsinput-tag {
	font-size: 0.875rem;
	background-color: lighten($green, 5%);
	border-color: $green;
	color: $white;
}