// Variables

// Colors
$white: #ffffff;
$background-grey: #F5F5F5;
$border-grey: #ebebeb;
$light-grey: #E5E5E5;
$text-grey: #838383;
$grey: #c4c4c4;
$black: #333333;
$text-black: #232323;
$background-black: #232323;
$green: #75AC2A;
$orange: #ff7f02;
$red: red;
$background-red: #f8d0c8;
$background-green: #e3eed4;
$heading-text: #a6a6a6;
$theme-background: #faf8f5;