@mixin m-title-text {
	font-size: 1.85rem;
	color: #46403d;
	font-family: 'Avenir-Black';
}
@mixin bgimg-header {
	width: 100%;
	background: url('../images/membership-page-images/heading_bg_img.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	max-width: 800px;
	padding: 0rem 2rem 2rem 3rem;
	.title-wrap {
		max-width: 800px;
		padding: auto;
		@include respond-to($desktop) {
			padding-left: 3rem;
		}
		@include respond-to($large-desktop) {
			padding-left: 3rem;
		}
		@include respond-to($mobile-only) {
			.title {
				font-size: 2rem;
			}
		}
		@include respond-to($mobile) {
			.title {
				font-size: 2rem;
			}
		}
		@include respond-to($tablet) {
			.title {
				font-size: 2rem;
			}
		}
		@include respond-to($desktop) {
			.title {
				font-size: 3rem;
			}
		}
		@include respond-to($large-desktop) {
			.title {
				font-size: 3rem;
			}
		}
		.title {
			font-family: 'Avenir-Black';
			color: $white;    
			padding: 1rem;
		}
	}
}
@mixin m-section-title {
	h2 {
		color: #434343;
		font-size: 3rem;
		font-family: 'Avenir-Black';
		@include respond-to($mobile-only) {
			font-size: 2rem;
		}
		@include respond-to($mobile) {
			font-size: 2rem;
		}
	}
	
}
.m-top {
	&-container {
		padding: 4rem 1rem 0 1rem;	
	}
	&-content {
		margin-top: 60px;
		h2 {
			max-width: 500px;
			color: #46403d;
			font-size: 4rem;
			font-family: 'Avenir-Black';
			@include respond-to($small-mobile) {
				font-size: 2rem;
			}
		}
		p {
			color: #46403d;
			font-size: 1.875rem;
			font-family: 'Avenir-Black';
			margin: 1em 2em 0em 0em;
		}
	}
	&-btn-wrap {
		padding-top: 5rem;
		padding-bottom: 5rem;
		position: relative;
		.m-top-btn {
			margin-left: 20%;
			width: 200px;
			height: 3.75rem;
			font-size: 18px;
			background-color: #8bc53b;
			color: #fff;
			border: none;
			text-transform: capitalize;
			border-radius: 50px;
			font-family: 'Avenir-Heavy';
		}
	}
	&-banner {
		height: 100%;
		@include respond-to($mobile) {
			height: 270px;
		}
		@include respond-to($mobile-only) {
			height: 370px;
		}
		background: url('/images/membership-page-images/banner-img.png');
		background-size: contain;
		background-position: bottom;
		@include respond-to($mobile-only) {
			background-position: left bottom;
		}
		background-repeat: no-repeat;
	}
}

.m-lifetime {
	&-container {
		padding: 0 5rem 0 5rem;
		@include respond-to($mobile) {
			padding: 0 1rem 0 1rem;
		}
		@include respond-to($mobile-only) {
			padding: 0 1rem 0 1rem;
		}
		@include respond-to($tablet) {
			padding: 0 2rem 0 2rem;
		}
		background: #fff;
		.m-mindset-icon-gallery {
			@include clearfix;
			padding: 2rem 4rem;
			@include respond-to($mobile) {
				padding: 1rem 0;
			}
			@include respond-to($mobile-only) {
				padding: 1rem 0;
			}
			.m-mindset-icon {
				@include respond-to($mobile) {
					@include span-columns(12 of 12);
					@include omega(1n);
					.mindset-text-wrap {
						padding-left: 9.5rem;
						padding-top: 1rem;
					}
				}
				@include respond-to($mobile-only) {
					@include span-columns(12 of 12);
					@include omega(1n);
					.mindset-text-wrap {
						padding-left: 9.5rem;
						padding-top: 1rem;
					}
				}
				@include respond-to($tablet) {
					@include span-columns(12 of 12);
					.mindset-text-wrap {
						padding-left: 9.5rem;
						padding-top: 1rem;
					}
				}
				@include respond-to($desktop) {
					@include span-columns(12 of 12);
					.mindset-text-wrap {
						padding-left: 9.5rem;
					}
				}
				@include respond-to($large-desktop) {
					@include span-columns(4 of 12);
	
					.mindset-text-wrap {
						padding-left: 9.5rem;
					}
				}
	
				position: relative;
				margin: 2rem 0rem;
				img {
					position: absolute;
					left: 1rem;
				}
				.mindset-text-wrap {
					h3 {
						@include m-title-text;
					}
					p {
						font-size: 1.125rem;
						font-family: 'Avenir-Medium';
					}
				}
				
			}
		}
		
		.m-experience {
			text-align: center;
			padding: 2rem 0 4rem 0;
			.content-wrap {
				h3 {
					@include m-title-text;
					margin-bottom: 3rem;
				}
			}
		}
	}
	&-content {
		padding: 4rem;
		@include respond-to($mobile) {
			padding: 1rem;
		}
		@include respond-to($mobile-only) {
			padding: 1rem;
		}
		p {
			font-size: 1.125rem;
			color: #46403d;
			font-family: 'Avenir-Medium';
		}
		h3 {
			font-size: 2.5rem;
			color: #46403d;
			font-family: 'Avenir-Black';
			padding-top: 1.5rem;
			padding-bottom: 1rem;
		}
	}
	&-header {
		@include bgimg-header;
		
	}
}

.m-hubbers-community {
	font-family: 'Avenir-Medium';
	padding: 4rem 15rem 3rem 15rem;
	@include respond-to($mobile-only) {
		padding: 2rem 1rem 2rem 1rem;
	}
	@include respond-to($mobile) {
		padding: 2rem 1rem 2rem 1rem;
	}
	@include respond-to($tablet) {
		padding: 2rem 5rem 2rem 5rem;
	}
	&-title {
		@include m-section-title;
		padding-bottom: 4rem;
	}
	&-block-1 {
		padding-right:3rem;
		@include respond-to($tablet) {
			padding-right: 0rem;
		}
		@include respond-to($tablet) {
			padding-right: 0rem;
		}
		img {
			position: absolute;
			top :0;
			right: 3rem;
			@include respond-to($tablet) {
				right:2rem;
			}
			@include respond-to($mobile-only) {
				right:0rem;
			}
			@include respond-to($mobile) {
				right:0rem;
			}
		}
		.block-1-content {
			margin-top: 300px;
			@include respond-to($mobile) {
				margin-top: 300px;
				
			}
			@include respond-to($mobile-only) {
				margin-top: 250px;
				
			}

		}
	}

	&-block-2 {
		margin-left:3rem;
		@include respond-to($tablet) {
			margin-left:0;
		}
		@include respond-to($mobile) {
			margin-left:0;
		}
		@include respond-to($mobile-only) {
			margin-left:0;
		}
		img {
			position: absolute;
			bottom: 0;
			left: 3rem;
			@include respond-to($mobile) {
				top :0;
				left: 0;
				bottom:auto;
				
			}
			@include respond-to($mobile-only) {
				top :0;
				left: 0;
				bottom:auto;
			}
			@include respond-to($tablet) {
				left: 2rem;
			}
		}
		.block-2-content {
			@include respond-to($mobile-only) {
				margin-top: 250px;
			}
			@include respond-to($mobile) {
				margin-top: 250px;
			}
		}
	}
}

.m-hubbers-glance {
	padding: 0 5rem 0 5rem;
	@include respond-to($mobile) {
		padding: 0 1rem 0 1rem;
	}
	@include respond-to($mobile-only) {
		padding: 0 1rem 0 1rem;
	}
	@include respond-to($tablet) {
		padding: 0 2rem 0 2rem;
	}
	background: #fff;
	.m-glance-header {
		@include bgimg-header;
	}
	.m-glance-score-block {
		padding: 1rem 2rem 5rem 10em;
		@include respond-to($mobile-only) {
			padding: 1rem 2rem 3rem 3em;
		}
		@include respond-to($tablet) {
			padding: 1rem 1rem 2rem 1em;
		}
		@include respond-to($mobile) {
			padding: 1rem 1rem 2rem 1em;
		}
		.m-glance-score {
			h2 {
				color: #46403d;
				font-family: 'Avenir-Black';
			}
			p {
				color: #434343;
				font-family: 'Avenir-Black';
			}
		}
	}
	.hubbers-glance-map {
		text-align: center;
	}
}

.m-hubbers-benefits {
	font-family: 'Avenir-Medium';
	.m-hubbers-benefits-title {
		@include m-section-title;
		h2 {
			padding-bottom: 2rem;
		}
		max-width: 800px;
		padding-bottom: 3rem;
	}
	padding: 4rem 10rem 2rem 10rem;
	@include respond-to($mobile-only) {
		padding: 2rem 1rem 2rem 1rem;
	}
	@include respond-to($mobile) {
		padding: 2rem 1rem 2rem 1rem;
	}
	@include respond-to($tablet) {
		padding: 2rem 5rem 2rem 5rem;
	}

	.m-hubbers-benefits-table {
		padding: 1rem;
		border-radius: 15px;
		background: #fff;

		table {
			width: 100%;
			border: none;
			color: #46403d;
			thead {
				background-color: #fff;
				color: #717171;
				font-size: 1.5rem;
			}
			th, td {
				border: none;
			}
			tbody tr>td:first-child, tfoot tr>td:first-child {
				padding-left: 10%;
			}
			tbody>tr:nth-child(odd) {
				background-color: #FAF8F5;
			}
			tbody>tr:nth-child(7)>td:first-child, tbody>tr:nth-child(12)>td:first-child, tbody>tr:nth-child(16)>td:first-child {
				font-family: 'Avenir-Black';
			}
			tbody td {
				padding-top:0.5rem;
				padding-bottom:0.5rem;
			}
			tfoot>tr>td {
				padding-top: 50px;
				height: 50px;
				font-family: 'Avenir-Black';
			}
		}
	}
}

.m-good-reason {
	padding: 4rem 10rem 2rem 10rem;
	background: #fff;
	font-family: 'Avenir-Medium';
	@include respond-to($mobile-only) {
		padding: 2rem 1rem 2rem 1rem;
	}
	@include respond-to($mobile) {
		padding: 2rem 1rem 2rem 1rem;
	}
	@include respond-to($tablet) {
		padding: 2rem 5rem 2rem 5rem;
	}
	img {
		margin-top:-5%;
	}
	&-title {
		@include m-section-title;
		h2 {
			padding-bottom: 2rem;
		}
		max-width: 900px;
		padding-bottom: 3rem;
	}
	&-text {
		ul {
			@include respond-to($mobile) {
				padding-left: 0;
			}
			@include respond-to($mobile-only) {
				padding-left: 0;
			}
		}

		overflow: auto;
		max-height: 400px;
		li {
			list-style: none;
			padding:15px 0;
			div {
				width:80%;
				color: #46403d;
				display: inline-block;
				overflow-wrap: break-word;
			}
		}
		li span {
			text-align: center;
			color: #fff;
			font-size: 1.5rem;
			font-weight: bold;
			padding:15px 15px 15px 23px;
			margin-right:10px;
			background: url('/images/membership-page-images/good-reason.png') center no-repeat;
		}

		li:nth-child(odd) span {
			background-position: -51px 0;
		}
		li:nth-child(even) span {
			background-position: 0 0;
		}
		a {
			margin-left: 60px;
			text-decoration: none;
		}
	}
}
.m-hubbers-workshop {
	font-family: 'Avenir-Medium';
	padding: 4rem 10rem 2rem 10rem;
	@include respond-to($mobile-only) {
		padding: 2rem 1rem 2rem 1rem;
	}
	@include respond-to($mobile) {
		padding: 2rem 1rem 2rem 1rem;
	}
	@include respond-to($tablet) {
		padding: 2rem 5rem 2rem 5rem;
	}

	&-title {
		@include m-section-title;
		h2 {
			padding-bottom: 2rem;
		}
		max-width: 900px;
		padding-bottom: 3rem;
	}
	&_body {
		overflow: auto;
	}
	&_body__images {
		height: 1700px;
		width: 1500px;
		margin:auto;
		color:#fff;

		&__text {
			padding-left:30px;
			padding-right:30px;
			padding-top:85px;;
		}
	}
	&_body__image__1 {
		width: 280px;
		height: 276px;
		margin-left:200px;
		background: url('/images/membership-page-images/workshop.png') center no-repeat;
		background-position: 0 0;

	}
	&_body__image__2 {
		margin-left: 870px;
		margin-top: -180px;
		width: 280px;
		height: 276px;
		background: url('/images/membership-page-images/workshop.png') center no-repeat;
		background-position: 0 -276px;
	}
	&_body__image__3 {
		width: 280px;
		height: 276px;
		margin-top: -100x;
		margin-left: 300px;
		background: url('/images/membership-page-images/workshop.png') center no-repeat;
		background-position: 0 -550px;
	}
	&_body__image__4 {
		width: 280px;
		height: 276px;
		margin-left: 930px;
		margin-top: -170px;
		background: url('/images/membership-page-images/workshop.png') center no-repeat;
		background-position: 0 -828px;
	}
	&_body__image__5 {
		width: 280px;
		height: 276px;
		margin-left: 200px;
		background: url('/images/membership-page-images/workshop.png') center no-repeat;
		background-position: 0 -1104px;
	}
	&_body__image__6 {
		width: 280px;
		height: 276px;
		margin-left: 780px;
		margin-top:-190px;
		background: url('/images/membership-page-images/workshop.png') center no-repeat;
		background-position: 0 -1380px;
	}
	&_body__image__7 {
		width: 280px;
		height: 276px;
		margin-left: 300px;
		background: url('/images/membership-page-images/workshop.png') center no-repeat;
		background-position: 0 -1657px;
	}
	&_body__image__8 {
		width: 280px;
		height: 276px;
		margin-left:950px;
		margin-top:-150px;
		background: url('/images/membership-page-images/workshop.png') center no-repeat;
		background-position: 0 0;
	}
	&_btn_wrap {
	}
	.apply-btn {
		width: 200px;
		height: 3.75rem;
		font-size: 18px;
		background-color: #8bc53b;
		color: #fff;
		border: none;
		text-transform: capitalize;
		border-radius: 50px;
		font-family: 'Avenir-Heavy';
	}
}
.m-testimonial {
	padding: 0 5rem 0 5rem;
	@include respond-to($mobile) {
		padding: 0 1rem 0 1rem;
	}
	@include respond-to($mobile-only) {
		padding: 0 1rem 0 1rem;
	}
	@include respond-to($tablet) {
		padding: 0 2rem 0 2rem;
	}
	background: #fff;
	&-header {
		@include bgimg-header;
	}

}