.reset-wrap {
	.reset-container {
		@extend .container;
		max-width: 960px;
	}
	.reset-section__error {
		font-size: 0.875rem;
		line-height: 1;
		color: #484848;
		background-color: $background-red;
		border-radius: 0.1rem;
		padding: 0.675rem 1rem;
		// margin-bottom: 1rem;
		margin-top: -1rem;
	}
	.reset-section__success{
		font-size: 0.875rem;
		line-height: 1;
		color: #fff;
		background-color: $green;
		border-radius: 0.1rem;
		padding: 0.675rem 1rem;
		margin-bottom: 1rem;
		margin-top: -1rem;
	}
	.reset-section {
		@include clearfix;
		// padding: 1rem 2rem 3rem;
		background-color: #fff;
		border-radius: 0.1rem;
		margin-bottom: 4rem;

		@include respond-to($desktop) {
			display: flex;
			align-items: center;
			// padding-top: 3rem;
		}

		> div {
			@include respond-to($desktop) {
				@include span-columns(6 of 12);
			}
		}

		
		@include respond-to($mobile) {
			.reset-section__fields{
				padding: 2rem !important;
			}
		}
		@include respond-to($mobile-only) {
			.reset-section__fields{
				padding: 2rem !important;
			}
		}
		@include respond-to($tablet) {
			.reset-section__fields{
				padding: 2rem !important;
			}
		}
		@include respond-to($desktop) {
			.reset-section__fields{
				padding-top: 2rem !important;
				padding-bottom: 2rem !important;
			}
		}
		.reset-section__fields {
			text-align: center;

			.password-input {
				margin-bottom: 2rem;
			}
		}
		.reset-section__fields {
			text-align: center;
			padding: 0 1.5rem 0 3rem;
			button{
				width: 100%;
			}
			.clearline{
				width: 100%;
				border-bottom: 1px solid #ebebeb;
				margin-top: 30px;
			}
			.backtosignin{
				color: $green;
				padding-top: 20px;
				cursor: pointer;
			}
		}

		.reset-section__description {
			// margin-top: 4rem;

			@include respond-to($desktop) {
				margin-top: 0;
				.reset-section__description__item{
					height: 400px !important;
				}
			}

			.reset-section__description__item {
				@include clearfix;
				margin-bottom: 1.5rem;

				&:last-child {
					margin-bottom: 0;
				}

				height: 350px;
				background: #333;
				.reset-section__description__show{
					height: 100%;
					display: flex;
					align-items: center;
					img{
						width: 150px;
						margin: auto;
					}
				}
			}
		}
		.reset-section__progress {
			text-align: center;

			.reset-section__progress__label {
				font-size: 1.25rem;
				margin-bottom: 1.5rem;
				display: block;
				color: $text-grey;
				.tryagain{
					color: $green;
					cursor: pointer;
				}
			}

			.sk-spinner > div {
				background-color: $green;
			}
		}
	}
}